.footer {
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 8rem;
    background-color: #194895;
    height: 150px;
    color: #fff;

    div {
        width: 310px;
    }

    .footer__logo--container {
        
        background-color: #fff;
        align-self: flex-end;
        padding: 3rem 2rem;
        border-radius: 36px 36px 0 0;
    }

    .footer__contact--container {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .email,
        .call {
            display: flex;
            justify-content: flex-start;

            .relative {
                position: relative;
                height: 20px;
                width: 20px;
            }
        }
        
        a {
            color: inherit;
            text-decoration: underline;
            font-size: 1.6rem;
        }
    }

    .footer__description {
        flex-basis: 30%;
        text-align: center;
    }

    @include md {
        height: auto;
        gap: 4rem;
        padding-top: 4rem;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;

        .footer__logo--container {
            align-self: center;
        }

        .footer__contact--container {
            .email {
                margin-top: 1rem;
            }
        }
    }
}