.searchbar {
    height: 75px;
    background-color: #194895;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;

    .search-wrapper {
        width: 100%;
        color: #FFF;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .search {
            display: flex;
            align-items: center;
            gap: 3rem;
    
            .input-wrapper {
                position: relative;
                
                input {                
                    outline: none;
                    border: 2px solid #fff;
                    border-radius: 43px;
                    background-color: transparent;
                    width: 500px;
                    padding: 1rem 2rem;
                    color: #FFF;
                    font-size: 18px;
                    z-index: 124;
        
                    &::placeholder {
                        color: #FFF;
                        z-index: 124;
                    }
                }
    
                .results {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    padding: 2rem 0;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    background-color: #fff;
                    z-index: 123;
                    font-size: 1.8rem;
                    border-radius:25px;
                    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
                    transition: height .2s ease-in-out;
                    

                    #result-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #000;
                        padding: rem 2rem;
                        border-radius: 25px;
                        transition: all .2s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }
            }
            
        }
    
        .contact-items {
            display: flex;
            align-items: center;
            gap: 2rem;
    
            .email,
            .call {
                display: flex;
                gap: 1rem;
    
                img {
                    width: 24px;
                }
            }
        }
    
    
        p {
            font-size: 18px;
        }
    
        @include xl {
            .search>input::placeholder {
                font-size: 15px;
            }
    
            p {
                font-size: 15px;
            }
        }
    
        
    }

    @include lg {
        display: none;
    }
}