.products {
    .products__hero {
        height: calc(100vh - 170px);
        max-height: 75rem;
        background:linear-gradient(240deg, transparent 40%, rgba(25,46,149,0.7) 100%), url('../../public/static/products-hero.webp') ;
        background-position: start; 
        background-size: cover;

        .products__hero--info {
            max-width: 1440px;
            margin: 0 auto;
            height: 100%;
            padding: 6rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 2rem;

            h1 {
                color: #fff;
                max-width: 400px;
            }
        }

        @include md {
            .products__hero--info {
                padding: 4rem;

                h1 {
                    text-align: center;
                }
            }
        }
    }

    .wrapper {
        padding: 8rem 6rem;
        padding-bottom: 0;
        display: flex;
        position: relative;

        .products__links {
            max-width: 30rem;
            margin-right: 6rem;

            .links {
                position: sticky;
                top: 120px;
                left: 0;
                margin-bottom: 4rem;
                height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            h3 {
                font-size: 2rem;
            }

            a {
                color: #20201F;
                text-decoration: none;

                &.animal {
                    color: #fff;
                    font-weight: 700;
                    padding: 1.5rem 3rem;
                    background-image: url('../../public/static/animal.webp');
                    background-size: cover;
                    background-position: center;
                    text-align: center;
                    align-self: flex-start;
                    transition: .2s;
                    min-width: 23.2rem;

                    &:hover {
                        scale: 1.04;
                    }
                }
            }
        }

        @include md {
            flex-direction: column;
            padding: 8rem 4rem;

            h2 {
                font-size: 3rem;
            }

            p {
                font-size: 1.4rem;
            }

            .products__links {
                display: none;
            }
        }

        @include sm {
            padding: 6rem 2rem;
        }
    }

    section {
        h2 {
            margin-bottom: 4rem;
        }

        .banner-container {

            .text-container {
                height: auto;
                width: 50%;
                margin-left: 6rem;
                padding: 2rem;
                background-color: #fff;
                border-radius: 19px;
                box-shadow: 7px 7px 5px #0404051F;
                translate: 0 -100px;
            }

            @include lg {
                .text-container {
                    width: 80%;
                    margin: 0 auto;
                    translate: 0 -2rem;


                }
            }
        }

        .products-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 4rem;
            margin-bottom: 8rem;

            .product-item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 2rem;
                width: 280px;
                height: 380px;
                background-color: #fff;
                box-shadow: 7px 7px 5px #0404051F;
                border-radius: 18px;
                text-align: center;
                transition: .2s;
                cursor: pointer;
                text-decoration: none;
                color: #20201F;

                h3 {
                    font-size: 2rem;
                    padding-top: 4rem;
                    color: rgb(107, 119, 134);
                }

                .img-container {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    
                    span {
                        border-radius: 18px;
                    }
                }

                &:hover {
                    scale: 1.05;
                    box-shadow: 7px 7px 5px rgba(25, 72, 149, .2);
                }
                
            }

            @include lg {
                gap: 3rem;

                .product-item {
                    width: 200px;
                    height: 300px;
                }
            }

            @include sm {
                gap: 2rem;

                .product-item {
                    width: 145px;
                    height: 180px;
                    gap: 1rem;

                    h3 {
                        font-size: 1.2rem;
                        padding-top: 1rem;
                    }

                }
            }

            
        }
    }


}