.hero {
    height: calc(100vh - 175px);
    overflow: hidden;
    position: relative;
    display: flex;

    .hero__img-container {
        background-image: url('../../public/abouthero.png');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 50%;
        position: absolute;
        top: 15%;
        right: -10%;
        border-radius: 50%;
        scale: 1.5;
    }
    .hero__img-container2 {
        background-image: url('../../public/technology.png');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 50%;
        position: absolute;
        top: 15%;
        right: -10%;
        border-radius: 50%;
        scale: 1.5;
    }

    .container {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
        position: relative;
        padding-left: 6rem;

        .hero__content {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            h1 {
                color: #194895;
            }

            p {
                color: #586574;
                font-weight: normal;
                width: 85%;
                font-size: 1.8rem;
            }
        }
    }

    @include lg {
        height: calc(70vh - 100px);

        img {
            width: 100%;
            right: -55%;
            bottom: -45%;
        }

        .container {
            .hero__content {
                width: 60%;
            }
        }
    }

    @include md {
        height: calc(100vh - 100px);

        img {
            top: -40%;
            left: 0;
            rotate: 180deg;
        }

        .container {
            padding: 0 4rem;

            .hero__content {
                width: 100%;
                background-color: #fff;
                border-radius: 30px;
                padding: 2rem 1rem;

                p {
                    width: 100%;
                }
            }
        }
    }

    @include sm {

        height: calc(70vh - 100px);

        .hero__img-container {
            scale: 2;
            top: 0;
            right: 0;
        }

        .container {
            padding: 0 2rem;
            text-align: center;
            justify-content: center;

            h1 {
                font-size: 35px;
            }

            .hero__content {
                background-color: #fff;
                border-radius: 43px;
                padding: 2rem 0;
            }
        }
    }

    @include ssm {
        .container {
            h1 {
                font-size: 25px;
            }

            p {
                font-size: 14px;
            }


        }
    }
}